<header class="intro-header">

  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>FARMER BUDDY</strong></a>
    </mdb-navbar-brand>
    <links>
      <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/crop-prediction" class="nav-link">Crop Prediction
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/oshop" class="nav-link">Products</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/tips" class="nav-link">Tips</a>
        </li>
      </ul> -->

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <!-- <li>
          <select #locale class="browser-default custom-select">
            <option selected>Select Language</option>
            <option value="en">English</option>
            <option value="te">Telugu</option>
            <option value="hin">Hindi</option>
          </select>
        </li> -->
        <li class="nav-item dropdown" mdbDropdown>
          <a mdbDropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <i class="fa fa-globe"> </i><span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" href="javascript:;;" (click)="changeLocale(lang.langCode)"
              *ngFor="let lang of languageList">
              <i class="fa fa-flag-o mr-2"></i>
              {{ lang.language }} ({{ lang.langCode }})</a>
          </div>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedOut$ | async">
          <a class="nav-link" [routerLink]="['./login']">
            <i class="fas fa-lg fa-user-circle mr-2"> {{'SIGN_IN' | translate }}</i>
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn$ | async">
          <a class="nav-link">
            <div class="btn-group mr-2" mdbDropdown>
              <i class="fas fa-lg fa-user-circle" mdbDropdownToggle> {{ user.userName }}</i>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <a class="dropdown-item" routerLink='/oshop/users'>
                  <i class="fa fa-user mr-1"> My Account</i>
                </a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">logout</a>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>


  <div class="view intro jarallax"
    style="background: url(../../assets/img/green.jpg) no-repeat center center fixed; background-size: cover; height: 1200px;">
    <div class="full-bg-img mask">
      <h1 style="color: white; text-align: center" [@bounce]="bounce" class=" h1">Farmer Buddy</h1>

      <div class=" container d-flex justify-content-center">
        <div class="row mt-3">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
              <div class="container mt-5">
                <div class="row">
                  <a class="mr-5" [@bounceInLeft]="bounceInLeft" routerLink="/crop-prediction">
                    <div class="card text-center text-white">
                      <div class="card-body d-flex justify-content-center align-items-center">
                        <h5 class="card-title"><strong>{{'CROP_ANALYIS' | translate}}</strong></h5>
                      </div>
                    </div>
                  </a>

                  <a routerLink="/oshop" [@bounceInRight]="bounceInRight">
                    <div class="card text-center text-white">
                      <div class="card-body d-flex justify-content-center align-items-center">
                        <h5 class="card-title"><strong>{{'ORGANIC_PRODUCTS' | translate}}</strong></h5>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="container mt-5 d-flex justify-content-center">
                <div class="row">
                  <a class="mr-5" [@bounceInLeft]="bounceInLeft" routerLink="/news-tips">
                    <div class="card text-center text-white">
                      <div class="card-body d-flex justify-content-center align-items-center">
                        <h5 class="card-title"><strong>{{'NEWS_&_TIPS' | translate}}</strong></h5>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-12 text-center mb-5">
        <h2 class="h1 font-bold light-blue-text my-5">{{'FARMING' |  translate}}</h2>
        <p align="justify">{{'FARMING_DESC' | translate }}</p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>

  <!-- <div class="view intro jarallax"
    style="background-image: url('../../assets/banner_img/fb_1.jpg'); z-index: 0; min-height: 700px;">
    <div class="full-bg-img mask rgba-white-light">
      <div class="container flex-center">
        <div class="row mt-5 py-5">
          <div class="col-md-12 wow fadeIn mb-3" style="animation-name: none; visibility: visible;">
            <div class="text-center">
              <h2 class="h1 display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">ANNA'S <a
                  class="white-text font-bold">BLOG</a>
              </h2>
              <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s">Interior designer &
                Nature
                lover</h5>
              <a mdbBtn color="elegant" size="lg" class="wow fadeInDown waves-effect waves-light" mdbWavesEffect
                data-wow-delay="0.4s">portfolio</a>
              <a mdbBtn color="white" outline="true" size="lg" class="wow fadeInDown waves-effect waves-light"
                mdbWavesEffect data-wow-delay="0.4s">About me</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container">
    <!--Grid row-->
    <!-- <div class="row">
      <div class="col-md-12 text-center my-5">
        <h2 class="h1 font-bold grey-text mb-5">About Farmer Buddy</h2>
        <p align="justify">.</p>
      </div>
    </div> -->
  </div>

  <div class="view intro jarallax"
    style="background-image: url('../../assets/banner_img/fb_1.jpg'); background-attachment: fixed; background-size: cover; min-height: 700px">
    <div class="full-bg-img mask rgba-pink-slight">
    </div>
  </div>

  <div class="view intro jarallax" style="background: lightgray; background-attachment: fixed; min-height: 700px">
    <div class="full-bg-img mask rgba-purple-slight">
      <div class="container">
        <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
          <div class="row mt-5">
            <div class="col-md-12 wow fadeIn mb-3">
              <div class="intro-info-content text-center">
                <h1 class="h1 white-text mb-2 wow fadeInDown" data-wow-delay="0.3s">
                  {{'ABOUT_FARMER_BUDDY' | translate }}</h1>
                <h4 class="mb-3 mt-1 white-text font-bold wow fadeIn" data-wow-delay="0.4s">
                  {{'ABOUT_FARMER_BUDDY_DESC' | translate }}
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container">
    <div class="row">
      <div class="col-md-12 text-center my-5">
        <h2 class="h1 font-bold pink-text mb-5">Lorem ipsum dolor sit amet, consectetur quis elit.</h2>
        <p align="justify"></p>
      </div>
    </div>
  </div> -->
